.body {
	background-color: $body-background-color;
}

.container {
	position: relative;
	z-index: -1;
}

.page-active {
	display: flex;
}

.page-inactive {
	display: none;
}

@media(max-width: 767px) {
	@include grid('sm');
	.container {
		margin: 0 0 0 63px;
		min-height: $container-min-height;
	}
}

@media(min-width: 768px) {
	@include grid('md');
	.container {
		margin: 60px 0 0 200px;
		min-height: calc (#{$container-min-height} - 60px);
	}
}

@media(min-width: 992px) {
	@include grid('lg');
}

@media(min-width: 1200px) {
	@include grid('xl');
}
