.container {
	background-color: $container-background-color;
	overflow: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.page-active {
	display: block;
}

.page-inactive {
	display: none;
}

.view-page {
	background-color: $page-background-color;
}

// scrollbar style
::-webkit-scrollbar {
	width: 20px;
}
::-webkit-scrollbar-track {
	background-color: $scrollbar-background-color;
}
::-webkit-scrollbar-thumb {
	background-color: $scrollbar-color;
}

@media(max-width: 767px) {
	@include grid('sm');
	.container {
		margin: 0 0 0 63px;
		height: 100vh;
	}
	.view-page {
		margin: 5px;
	}
}

@media(min-width: 768px) {
	@include grid('md');
	.container {
		margin: 60px 0 0 200px;
		height: calc(100vh - 60px);
	}
	.view-page {
		margin: 10px;
	}
}

@media(min-width: 992px) {
	@include grid('lg');
	.view-page {
		margin: 20px;
	}
}

@media(min-width: 1200px) {
	@include grid('xl');
}
