.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	a {
		padding: 15px 20px;
		&:hover {
			cursor: pointer;
		}
	}
	.pagination-active {
		color: $paragraph-color;
		background-color: $table-border-background-hover;
		border-radius: 2px;
		font-weight: bold;
	}
}

@media(max-width: 767px) {
	.pagination {
		a {
			padding: 10px 15px;
		}
	}
}

@media(min-width: 768px) {
}

@media(min-width: 992px) {
}

@media(min-width: 1200px) {
}
