h1, h2, h3, h4, h5, h6 {
	font-family: $header-font;
	color: $header-text-color;
	text-transform: uppercase;
}

h1 {
	font-size: $h1-font-size;
}

h2 {
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}

h6 {
	font-size: $h6-font-size;
}

p {
	font-family: $paragraph-font;
	color: $paragraph-color;
	font-size: $paragraph-font-size;
}

a {
	font-family: $links-font;
	color: $link-color;
	font-size: $links-font-size;
}
