.view-general {
	background-color: $page-background-color;
}

@media(max-width: 767px) {
	@include grid('sm');
	.view-general {
		position: absolute;
		top: 0;
		margin: 5px;
	}
}

@media(min-width: 768px) {
	@include grid('md');
	.view-general {
		position: absolute;
		top: 0;
		margin: 10px;
	}
}

@media(min-width: 992px) {
	@include grid('lg');
	.view-general {
		position: absolute;
		top: 0;
		margin: 20px;
	}
}

@media(min-width: 1200px) {
	@include grid('xl');
}
