.view-general {
	.general-calendar {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.general-calendar-text {
		display: flex;
		align-items: center;
		margin: 0;
		width: auto;
		color: $paragraph-color2;
		font-size: 14px;
		height: 30px;
	}
	.general-calendar-line {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 5px 15px;
		border: 1px solid $container-background-color;
		border-radius: 5px;
		width: 320px;
	}
	.general-calendar-end {
		padding-left: 15px;
		border-left: 1px solid $container-background-color;
	}
	.general-calendar-row {
		display: flex;
		align-items: center;
		height: 100px;
		border-bottom: 1px solid $container-background-color;
	}
	.calendar-icon {
		font-family: $icon-font;
		font-size: $calendar-icon-size;
		color: $calendar-icon-color;
	}
	.general-stats-row {
		margin: 20px 0 60px 0;
	}
	.general-stats {
		display: flex;
		width: 100%;
		border-bottom: 1px solid $container-background-color;
		justify-content: space-between;
		margin-top: 30px;
		padding-bottom: 10px;
	}
	.general-stat-number {
		color: $paragraph-color2;
	}
	.calendar-button {
		height: 40px;
		width: 40px;
		margin-left: 20px;
	}
	canvas {
		max-height: 500px;
	}
}

@media(max-width: 767px) {
	@include grid('sm');
	.p-bold {
		margin-left: 20px;
	}
	.general-stat-number {
		margin-right: 20px;
	}
}

@media(min-width: 768px) {
	@include grid('md');
	.p-bold {
		margin-left: 0;
	}
	.general-stat-number {
		margin-right: 0;
	}
}

@media(min-width: 992px) {
	@include grid('lg');
}

@media(min-width: 1200px) {
	@include grid('xl');
}
