.div-calendar {
	display: flex;
	align-items: center;
	justify-content: center;
}

.calendar-text {
	display: flex;
	align-items: center;
	margin: 0;
	width: auto;
	color: $paragraph-color2;
	font-size: 14px;
	height: 30px;
}

.calendar-line {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 15px;
	border: 1px solid $container-background-color;
	border-radius: 5px;
	width: 320px;
}

.calendar-end {
	padding-left: 15px;
	border-left: 1px solid $container-background-color;
}

.calendar-row {
	display: flex;
	align-items: center;
	height: 100px;
	border-bottom: 1px solid $container-background-color;
}

.calendar-icon {
	font-family: $icon-font;
	font-size: $calendar-icon-size;
	color: $calendar-icon-color;
}

.calendar-button {
	height: 40px;
	width: 40px;
	margin-left: 20px;
}
