table {
	display: table;
	width: 100%;
	border-spacing: 0;
}

tr {
	height: 60px;
	width: 100%;
	&:hover {
		background-color: $table-border-background-hover;
		cursor: pointer;
		.td3 {
			p {
				display: inline-block;
			}
		}
	}
}

td {
	padding: 0;
	border-bottom: 1px solid $table-border;
}
